body{
	margin: 0;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  	position: absolute;
  	top: 40%;
  	left: 35%;
  	transform: translate(-50%, -50%);
  	font-family: Oranienbaum;
	font-size: 100px;
	font-weight: 100;
	color: darkgrey;
	text-transform: uppercase;
	padding-top: 30px;
}
main{
	max-width: 2100px;
	padding-left: 40px;
	line-height: 30px;
}
h2{
	font-family: Josefin Slab;
	font-weight: 100;
	font-size: 40px; 
	color: grey;
	padding-left: 40px;
}
p1{
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 100;
	color: grey;
	margin: 0 auto;
	padding-left: 40px;
}
h3{
	font-family: Josefin Slab;
	font-size: 110px; 
	font-weight: 100;
	color: darkgrey;
	max-width: 1800px;
}
.large {
	line-height: 80px;
	margin: 0;
	padding: 60px;
}
.imageright{
	padding: 30px;
}
.imageleft{
	float: left;
	padding: 30px;
}
.textright{
	text-align: top;
}
p2{
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 100;
	color: grey;
}
a{
	background-color: transparent;
	cursor: pointer;
	color: blue;
  	background-color: transparent;
  	text-decoration: underline;
}
a.specialeffects:hover{
  	color: black;
  	background-color: #ff0;
}
footer{
	text-align: center;
	background-color: #E9E9E9;
	padding:20px;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 100;
	color: grey;
}
footer h2 p img{
	margin: 0;
}